@cashfree-intl:registry=http://cashfreepayments.jfrog.io/artifactory/api/npm/cashfree-npm/
//cashfreepayments.jfrog.io/artifactory/api/npm/cashfree-npm/:_password=QVA0OXEyRm1udHpDekhkNlozVHNhY1NXVTRpdzlreFhVTTlpS0w=
//cashfreepayments.jfrog.io/artifactory/api/npm/cashfree-npm/:username=kisley.shirish
//cashfreepayments.jfrog.io/artifactory/api/npm/cashfree-npm/:email=kisley.shirish@cashfree.com
//cashfreepayments.jfrog.io/artifactory/api/npm/cashfree-npm/:always-auth=true