<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- The first thing in any HTML file should be the charset -->
    <meta charset="utf-8" />

    <!-- Make the page mobile compatible -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Allow installing the app to the homescreen -->
    <meta name="mobile-web-app-capable" content="yes" />

    <link
      rel="icon"
      href="https://cashfreelogo.cashfree.com/cashfreepayments/logopng2x/Group_4354.png"
    />

    <title>Payouts</title>

    <style>
      #webpack-dev-server-client-overlay {
        display: none;
      }
    </style>

    <% if (isProd) { %>
    <script type="text/javascript">
      (function (c, l, a, r, i, t, y) {
        c[a] =
          c[a] ||
          function () {
            (c[a].q = c[a].q || []).push(arguments);
          };
        t = l.createElement(r);
        t.async = 1;
        t.src = 'https://www.clarity.ms/tag/' + i;
        y = l.getElementsByTagName(r)[0];
        y.parentNode.insertBefore(t, y);
      })(window, document, 'clarity', 'script', 'mn24em5ux4');
    </script>
    <% } %>
  </head>

  <body>
    <!-- Display a message if JS has been disabled on the browser. -->
    <noscript
      >If you're seeing this message, that means
      <strong>JavaScript has been disabled on your browser</strong>, please
      <strong>enable JS</strong> to make this app work.</noscript
    >
    <div id="app"></div>
    <!-- A lot of magic happens in this file. HtmlWebpackPlugin automatically injects all assets (e.g. bundle.js, main.css) with the correct HTML tags, which is why they are missing in this file. Don't add any assets here! (Check out webpack.dev.babel.js and webpack.prod.babel.js if you want to know more) -->

    <script>
      // Zooming out in Windows 10
      if (window.navigator.userAgent.indexOf('Windows NT 10.0') != -1) {
        document.body.style.zoom = '85%';
      }
    </script>
  </body>
</html>
